db
incremental_db
simulation
output_files
*.cdb
*.hdb
*.bak
*.bpm
*.idb
*.xml
*.ddb
*.rdb
*.qmsg
*.db_info
*.txt
*.qns
*.tdb
*.sci
*.hier_info
*.hif
*.kpt
*.logdb
*.json
*.flock
*.hsd
*.tmw_info
*.ammdb
*.html
*.qdb
*.dpi
*.rcfdb
*.sig
*.hb_info
*.dfp
*.bsf
*.rpt
*.summary
*.smsg
*.qws
